{% extends 'default.html' %}
{% load i18n %}

{% block title %}
    Объявления
{% endblock %}

{% block content %}
    <div class="m-5 card w-75 rounded-5 bluefon">
        <div class="card-body">
            <h1 class="card-title">Удалиние объявления</h1>
            <form action="" method="post">
                {% csrf_token %}
                <h4 class="card-text">Удалить объявление "{{ object.title }}"?</h4>
                <input class="redfon inputbutton" type="submit" value="Delete" />
            </form>
        </div>
    </div>
{% endblock content %}