{% extends 'default.html' %}
{% load static %}

{% block title %}
    Создание новости
{% endblock title %}

{% block content %}
    <div class="m-5 card w-75 rounded-5 bluefon card-body">
        <p class="text-white fs-1 text-center">Создание новости</p>
        <form action="" method="post" class="form-floating">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.media }}
            <p class="text-white fs-1 text-center">Внимание, перед отправкой убедитесь, что вы проверили содержимое новостной рассылки. После отправки отменить будет невозможно.</p>
            <input class="greenfon inputbutton" type="submit" value="Save" />
        </form>
    </div>
{% endblock content %}